@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="checkbox"].custom-checkbox {
  position: relative;
  appearance: none;
}

input[type="checkbox"].custom-checkbox:checked::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 1px;
  width: 6px;
  height: 10px;
  border: solid #7c3aed;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
